<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CEvADA</title>
</head>
<body>
    <div>
        <div id="ajax_sequences">
        <table id="sequences" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Accession</th>
                    <th class="th-sm">UniprotKb ID</th>
                    <th class="th-sm">Description</th>
                    <th class="th-sm">Link</th>
                </tr>
            </thead>
            <tbody>
                {% for accession,from,to in table %}
                    <tr>
                        <td>{{ accession }}</td>
                        <td>{{ from }}</td>
                        <td>{{ to }}</td>
                        <td style="text-align: center"><a href="{% url 'cevada:sequence' sequence_name=accession  %}" target="_blank"><i class="far fa-plus-square"></i></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>