<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="CONAN: Co-Variation network analyzer for specificity determinant residues"><!-- Describe what this page is about -->
    <meta name="keywords"
          content="CONAN, SDB, Protein, Amino acids, Co-Variation, Coevolution, Multiple sequence alignments, UFMG, Bioinformatics, web server">
    <meta name="author" content="Neli Fonseca">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:site_name" content="SDB">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>


    {% block links %}{% endblock %}
</head>
<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="/" id="logo">Specificity Determinant Database</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
								<li><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Sequence Search</a></li>
                                <li><a href="/"><i class="fa fa-code" aria-hidden="true"></i> REST API</a></li>
                                <li><a href="/"><i class="fa fa-download" aria-hidden="true"></i> FTP server</a></li>
                                <li><a href="/"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
                                <li><a href="/"><i class="fa fa-comment" aria-hidden="true"></i> Feedback</a></li>
                                <li><a href="/"><i class="fa fa-share" aria-hidden="true"></i> Share</a></li>
							</ul>
						</nav>

				</div>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
                        {% if sidebar %}
                            <div class="col-9 col-12-narrower">
                        {% else %}
                            <div class="col-12">
                        {% endif %}
								{% block content %}{% endblock %}
							</div>

                        {% if sidebar %}
							<div class="col-3 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Quick Links</h3>
											<ul class="links">
												<li><a href="#">CONAN</a></li>
												<li><a href="#">PFstats</a></li>
												<li><a href="#">PCB Group</a></li>
												<li><a href="#">UFMG</a></li>
											</ul>
											<footer>
												Add funding information
											</footer>
										</section>

								</div>
							</div>
                        {% endif %}
						</div>
					</div>
				</section>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Links to Stuff</h3>
								<ul class="links">
									<li><a href="#">Mattis et quis rutrum</a></li>
									<li><a href="#">Suspendisse amet varius</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum accumsan dolor</a></li>
									<li><a href="#">Mattis rutrum accumsan</a></li>
									<li><a href="#">Suspendisse varius nibh</a></li>
									<li><a href="#">Sed et dapibus mattis</a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>More Links to Stuff</h3>
								<ul class="links">
									<li><a href="#">Duis neque nisi dapibus</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum accumsan sed</a></li>
									<li><a href="#">Mattis et sed accumsan</a></li>
									<li><a href="#">Duis neque nisi sed</a></li>
									<li><a href="#">Sed et dapibus quis</a></li>
									<li><a href="#">Rutrum amet varius</a></li>
								</ul>
							</section>
							<section class="col-6 col-12-narrower">
								<h3>Get In Touch</h3>
								<form>
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        {% block foot_links %}{% endblock %}
	</body>
</html>