{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}
    CEvADA: CoEvolution Analysis Data Archive &lt; Community
{% endblock %}

{% block links %}
    <script>
        var options = {
        physics: {
        barnesHut: {
        gravitationalConstant: -36,
        centralGravity: 0.005,
        springLength: 230,
        springConstant: 0.18
        },
        maxVelocity: 146,
        solver: 'forceAtlas2Based',
        timestep: 0.35,
        stabilization: {
        enabled:true,
        iterations:2000,
        updateInterval:25
        }
        },
        interaction:{hover:true},
        edges:{smooth: false}
        };

        var nodes = [
        {id: 1, label: 'H194', value: 9, color:'#9180ff'},
        {id: 2, label: 'G202', value: 10, color:'#9180ff'},
        {id: 3, label: 'E193', value: 8, color:'#9180ff'},
        {id: 4, label: 'D182', value: 54, color:'#7fffa1'},
        {id: 5, label: 'D183', value: 55, color:'#7fffa1'}];

        var edges = [
        {from: 3, to: 2, color:{color:'green'}, title: 84.84848484848484},
        {from: 1, to: 2, color:{color:'green'}, title: 90.9090909090909},
        {from: 3, to: 1, color:{color:'green'}, title: 93.33333333333333}];
    </script>
    <script src="{% static 'visjs/vis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'visjs/vis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/mynetwork.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/custom.css' %}" type="text/css">
    <script src="{% static 'visjs/custom.js' %}"></script>
    <script src="{% static 'visjs/run.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <!-- Content -->
        <h1>{{ family.pfama_acc }}</h1>

        <div id="pfam_header">
            <div id="pdb_img" style="float: right">
                {% if pdb|length > 0 %}
                    <img src="https://www.ebi.ac.uk/pdbe/static/entry/{{ pdb|lower }}_deposited_chain_front_image-400x400.png" width="300" height="300">
                {% endif %}
            </div>
            <div id="wiki">
                <article id="wikipedia">
                </article>
                <article id="gen_refs">
                    <ul>
                    {% for go in gos %}
                        <li><a href="http://purl.obolibrary.org/obo/{{ go.id|replace_go }} target='_blank'">{{ go.id }}: {{ go.term }}</a></li>
                    {% endfor %}
                    {% for term in interpro %}
                        <li><a href="https://www.ebi.ac.uk/interpro/entry/InterPro/{{ term.id }} target='_blank'">{{ term.id }}</a></li>
                    {% endfor %}
                    </ul>
                </article>
            </div>
        </div>

        <div id="communities" class="margin_top" style="clear: both">
            <h2>Communities</h2>
            Select the cutoff:
            <select id="select_cut">
                <option>0.75</option>
                <option>0.80</option>
                <option>0.85</option>
            </select>

            <div id="comm_pos">
                <div id="fv1"></div>
                <script>
                    {{ prot_vist_src|safe }}
                </script>
            </div>

            <div class="table-wrapper" class="margin_top">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Community</th>
                        <th>Residues</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comm in communities %}
                        <tr>
                            <td>Community {{ forloop.counter }}</td>
                            <td>{{ comm }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="Network" class="margin_top">
            <h2>Network</h2>
            <div id="wrapper">
                <div id="mynetwork"></div>
                <div id="loadingBar">
                    <div class="outerBorder">
                        <div id="text">0%</div>
                        <div id="border">
                            <div id="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="references" class="margin_top">
            {% if references|length > 0 %}
                <h2>References</h2>
                <ul>
                {% for ref,pmid in references %}
                    <li><a class="ref_link" href="https://europepmc.org/article/MED/{{ pmid }}" target="_blank">{{ ref }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>


    </div>
{% endblock %}

{% block foot_links %}
<script>
$(function() {
     var URL = "http://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&origin=*&exintro=&titles={{ wiki_title }}";
     $.ajax({
        url: URL,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        type: "POST", /* or type:"GET" or type:"PUT" */
        dataType: "json",
        data: {
        },
        success: function (result) {
            let res = result.query;
            var q = Object.keys(res.pages)[0];
            var wiki_obj = res.pages[q];
            //html += res.pages[q];
            let html = "<h2>" + wiki_obj.title + "</h2>";
            html += wiki_obj.extract;
            $("#wikipedia").empty();
            $("#wikipedia").append(html);
        },
        error: function () {
            console.log("error");
        }
    });
 });
</script>
{% endblock %}