{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}
    CEvADA: CoEvolution Analysis Data Archive &lt; Family
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'heatmap/heat.css' %}" type="text/css">
    <script src="{% static 'heatmap/d3.v5.min.js' %}"></script>
    <script src="{% static 'heatmap/data.js' %}"></script>
    <script>
        d35 = d3;
        window.d3 = null;
    </script>
    <link rel="stylesheet" href="{% static 'feature-viewer/feature-viewer.min.css' %}" type="text/css">
    <script src="{% static 'feature-viewer/d3.v3.min.js' %}"></script>
    <script src="{% static 'feature-viewer/bootstrap.min.js' %}"></script>
    <script src="{% static 'feature-viewer/feature-viewer.min.js' %}"></script>
    <script>
        var options = {
        physics: {
        barnesHut: {
        gravitationalConstant: -36,
        centralGravity: 0.005,
        springLength: 230,
        springConstant: 0.18
        },
        maxVelocity: 146,
        solver: 'forceAtlas2Based',
        timestep: 0.35,
        stabilization: {
        enabled:true,
        iterations:2000,
        updateInterval:25
        }
        },
        interaction:{hover:true},
        edges:{smooth: false}
        };

        {{ networkjs|safe }}
    </script>
    <script src="{% static 'visjs/vis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'visjs/vis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/mynetwork.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/custom.css' %}" type="text/css">
    <script src="{% static 'visjs/custom.js' %}"></script>
    <script src="{% static 'visjs/run.js' %}"></script>
    <link rel="stylesheet" href="{% static 'MDB-Free_4.19.1/css/addons/datatables2.min.css' %}" type="text/css">
    <script src="{% static 'MDB-Free_4.19.1/js/addons/datatables2.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="content">
        <div class="sharethis-inline-share-buttons"></div>
        <!-- Content -->
        <h1>{{ family.pfama_acc }}</h1>

        <div id="pfam_header">
            <div id="pdb_img" style="float: right">
                {% if pdb|length > 0 %}
                    <img src="https://www.ebi.ac.uk/pdbe/static/entry/{{ pdb|lower }}_deposited_chain_front_image-400x400.png" width="300" height="300">
                {% endif %}
            </div>
            <div id="wiki">
                <article id="wikipedia">
                </article>
                <article id="gen_refs">
                    <ul>
                    {% for go in gos %}
                        <li><a href="http://purl.obolibrary.org/obo/{{ go.id|replace_go }} target='_blank'">{{ go.id }}: {{ go.term }}</a></li>
                    {% endfor %}
                    {% for term in interpro %}
                        <li><a href="https://www.ebi.ac.uk/interpro/entry/InterPro/{{ term.id }} target='_blank'">{{ term.id }}</a></li>
                    {% endfor %}
                    </ul>
                </article>
            </div>
        </div>

        <div id="heatmap">
            <div id="table" class="contains"></div>
        </div>

        <div id="communities" class="margin_top" style="clear: both">
            Select the cutoff:
            <select id="select_cut" onchange="changeScore()">
                {% for conformation in conformations %}
                <option value="{{ conformation.score }}" {% if current_conformation.score == conformation.score %} selected {% endif %}>{{ conformation.score }}</option>

                {% endfor %}
            </select>

            <div id="downloads" class="margin_top">
                <h3>Downloads</h3>
                <ul>
                    <li><a href="{% static msa_file %}" download="{{ family.pfama_acc }}_full.txt">Full alignment</a></li>
                    <li><a href="{% static filtered_file %}" download="{{ family.pfama_acc }}_filtered.txt">Filtered alignment</a></li>
                    <li><a href="{% static cluster_file %}" download="{{ family.pfama_acc }}_clusters.txt">Clusters of sequences</a></li>
                    <li><a href="{% static network_file %}" download="{{ family.pfama_acc }}_{{ current_conformation.score }}_network.txt">Network</a></li>
                    <li><a href="{% static comm_file %}" download="{{ family.pfama_acc }}_{{ current_conformation.score }}_communities.txt">Communities</a></li>
                </ul>
            </div>

            <div class="margin_top">
                <h2>Sequences</h2>
                <div id="sequences_table">
                    <!--Ajax load-->

                    <table id="sequences" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Accession</th>
                                <th class="th-sm">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accession,seq in msa.items %}
                                <tr>
                                    <td>{{ accession }}</td>
                                    <td style="text-align: center"><a href="{% url 'cevada:sequence' sequence_name=accession  %}" target="_blank"><i class="far fa-plus-square"></i></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="Network" class="margin_top">
                <h2>Network</h2>
                <div id="wrapper">
                    <div id="mynetwork"></div>
                    <div id="loadingBar">
                        <div class="outerBorder">
                            <div id="text">0%</div>
                            <div id="border">
                                <div id="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="comm_pos" style="margin-top: 20px">
                <h2>Communities</h2>
                <div id="fv1"></div>

                <div id="protvista_script"></div>

                <!--
                <script>
                    {{ prot_vist_src|safe }}
                </script>
                -->
            </div>

            <div class="table-wrapper" class="margin_top">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Community</th>
                        <th>Residues</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comm in communities %}
                        <tr>
                            <td>Community {{ forloop.counter }}</td>
                            <td>{{ comm.residues|fix_residue }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        <div id="matrice_list">
            {% for comm in communities %}
                <h3>Community {{ forloop.counter }}</h3>
                <div><div id="heatmap_{{ forloop.counter }}" class="contains"></div></div>
            {% endfor %}
        </div>
        </div>

        <div id="references" class="margin_top">
            {% if references|length > 0 %}
                <h2>References</h2>
                <ul>
                {% for ref,pmid in references %}
                    <li><a class="ref_link" href="https://europepmc.org/article/MED/{{ pmid }}" target="_blank">{{ ref }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>


    </div>
{% endblock %}

{% block foot_links %}
<script>
function changeScore() {
  var value = document.getElementById("select_cut").value;
  var url = '//' + location.host + location.pathname + "?score=" + value;
  window.location = url;
}

$(function() {
     var URL = "http://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&origin=*&exintro=&titles={{ wiki_title }}";
     $.ajax({
        url: URL,
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        type: "POST", /* or type:"GET" or type:"PUT" */
        dataType: "json",
        data: {
        },
        success: function (result) {
            let res = result.query;
            var q = Object.keys(res.pages)[0];
            var wiki_obj = res.pages[q];
            //html += res.pages[q];
            let html = "<h2>" + wiki_obj.title + "</h2>";
            html += wiki_obj.extract;
            $("#wikipedia").empty();
            $("#wikipedia").append(html);
        },
        error: function () {
            console.log("error");
        }
    });
 });
</script>
<script>
    {{ matrix|safe }}


    $( document ).ready(function() {
        {% for comm in communities %}
            draw_hm("#heatmap_{{ forloop.counter }}",comm_{{ forloop.counter0 }},'{{ forloop.counter0 }}');
        {% endfor %}
    });

    $(document).ready(function () {
        $('#sequences').DataTable();
        $('.dataTables_length').addClass('bs-select');

        let url = "{% url 'sdb:ajax_proteins' pfam_acc=family_acc  %}";
        $.ajax({
            url: url,
            type: 'GET',
            //beforeSend: function() {
            //    $('#sequences_table').html("<img src='{% static 'images/ajax-loader.gif' %}' class='ajax_loading' />");
            //},
            success: (data) => {
                $("#sequences_table").empty();
                $("#sequences_table").append($(data).find("#ajax_sequences").html());
                $('#sequences').DataTable();
                $('.dataTables_length').addClass('bs-select');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("Connection timed out.")
                //$("#sequences_table").empty();
                //$("#sequences_table").append("<p>Sorry, this alignment is too large and returned a connection timed out! You can try again by refreshing the page.</p>")
            }
        });
    });

    $(document).ready(function () {
        let url = "{% url 'cevada:ajax_protvista_js' pfam_id=family_id  %}";
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function() {
                $('#protvista_script').html("<img src='{% static 'images/ajax-loader.gif' %}' class='ajax_loading' />");
            },
            success: (data) => {
                $("#protvista_script").empty();
                let protvista = $('<script>').html($(data).find("#protvista").text());
                console.log(protvista);
                $("#protvista_script").append(protvista);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $("#protvista_script").empty();
                $("#protvista_script").append("<p>Sorry, this alignment is too large and returned a connection timed out! You can try again by refreshing the page.</p>")
            }
        });
    });

</script>
<script src="{% static 'heatmap/render.js' %}"></script>
{% endblock %}