{% extends 'base.html' %}
{% load static %}

{% block title %}
    SDB: Specificity Determinant Data Base &lt; Family
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'heatmap/heat.css' %}" type="text/css">
    <script src="{% static 'heatmap/d3.v5.min.js' %}"></script>
    <script src="{% static 'heatmap/data.js' %}"></script>
    <script>
        d35 = d3;
        window.d3 = null;
    </script>

    <link rel="stylesheet" href="{% static 'feature-viewer/feature-viewer.min.css' %}" type="text/css">
    <script src="{% static 'feature-viewer/d3.v3.min.js' %}"></script>
    <script src="{% static 'feature-viewer/bootstrap.min.js' %}"></script>
    <script src="{% static 'feature-viewer/feature-viewer.min.js' %}"></script>

    <script src="{% static 'msaviewer/msa.min.gz.js' %}"></script>

    <script>
        var options = {
        physics: {
        barnesHut: {
        gravitationalConstant: -36,
        centralGravity: 0.005,
        springLength: 230,
        springConstant: 0.18
        },
        maxVelocity: 146,
        solver: 'forceAtlas2Based',
        timestep: 0.35,
        stabilization: {
        enabled:true,
        iterations:2000,
        updateInterval:25
        }
        },
        interaction:{hover:true},
        edges:{smooth: false}
        };

        var nodes = [
        {id: 1, label: 'H194', value: 9, commColor:'#9180ff'},
        {id: 2, label: 'G202', value: 10, commColor:'#9180ff'},
        {id: 3, label: 'E193', value: 8, commColor:'#9180ff'},
        {id: 4, label: 'D182', value: 54, commColor:'#7fffa1'},
        {id: 5, label: 'D183', value: 55, commColor:'#7fffa1'}];

        var edges = [
        {from: 3, to: 2, color:{color:'green'}, pvalue: 80.02939174219753, correlation: 84.84848484848484},
        {from: 1, to: 2, color:{color:'green'}, pvalue: 88.38373653808361, correlation: 90.9090909090909},
        {from: 5, to: 4, color:{color:'green'}, pvalue: 134.28482637641682, correlation: 86.70212765957447},
        {from: 3, to: 1, color:{color:'green'}, pvalue: 86.33127784872678, correlation: 93.33333333333333}];
    </script>
    <script src="{% static 'visjs/vis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'visjs/vis.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/mynetwork.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'visjs/custom.css' %}" type="text/css">
    <script src="{% static 'visjs/custom.js' %}"></script>
    <script src="{% static 'visjs/run.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content">
        <!-- Content -->
        <h1>{{ family.pfam_id }}</h1>
        <article>
            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
            Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
            Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
            consequat etiam lorem ipsum dolor sit amet nullam.</p>
        </article>

        Cutoff:
        <select id="select_cut">
            {% for conformation in family.conformation_set.all %}
                <option>{{ conformation.score }}</option>
            {% endfor %}
        </select>

        <div id="comm_pos">
            <div id="fv1"></div>
            <script>
                {{ prot_vist_src|safe }}
            </script>
        </div>

        <div id="heatmap">
            <div id="table" class="contains"></div>
        </div>

        <div id="wrapper">
            <div id="mynetwork"></div>
            <div id="loadingBar">
                <div class="outerBorder">
                    <div id="text">0%</div>
                    <div id="border">
                        <div id="bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="msa">
            <div style="width:100%; margin-bottom:5px;">
                <div id="menuDiv"></div>
                <div id="msaview"></div>
            </div>
            <script>
                {{ msa|safe }}
            </script>
        </div>

    </div>
{% endblock %}

{% block foot_links %}
    <script>
        scaleEdgeByCorr(true);
        colorByComm(true);
    </script>
    <script src="{% static 'heatmap/render.js' %}"></script>
{% endblock %}