{% extends 'base.html' %}

{% block title %}
    SDB: Specificity Determinant Data Base &lt; Home
{% endblock %}

{% block content %}
    <div id="content">
        <!-- Content -->

        <article>
            <p>
                SDB is an archive of predicted specificity determinant residues by amino acids coevolution analysis.
                The current version is based in the <a href="https://pfam.xfam.org/">Pfam</a> 31.0 and all the data
                was calculated using <a href="http://bioinfo.icb.ufmg.br:8080/conan">CONAN</a>. At the moment, SDB
                contains {{ sdb_n }} entries, comprising {{ sdb_fraction }}% of the protein families available in Pfam.
            </p>
        </article>

        <div id="search" class="row" style="margin-top: 20px; margin-bottom: 20px; float: right">
            <label for="txtPfam" style="padding-top: 8px; margin-right: 7px;">Accession (Pfam or Uniprot):</label>
            <input type="text" id="txtPfam" name="txtPfam" style="width: 190px; height: 40px">
            <a onclick="search_button()" class="button" style="height: 40px; margin-left: 10px;">Search</a>
        </div>

        <div id="pfam_content" class="container" style="clear: both">
            <h2>Protein Families</h2>

            <nav id="pagination">
                <ul class="pagination">
                    {% if pfam_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pfam_list.previous_page_number }}"><</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
                        </li>
                    {% endif %}
                    {% for i in pfam_list.paginator.page_range %}
                        {% if i <= pfam_list.number|add:5 and i >= pfam_list.number|add:-5 %}
                            {% if pfam_list.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if pfam_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ pfam_list.next_page_number }}">></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Pfam_id</th>
                        <th>Type</th>
                        <th>Seed Source</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pfam in pfam_list %}
                        <tr>
                            <td><a href="family/{{ pfam.pfama_acc }}">{{ pfam.pfama_acc }}</a></td>
                            <td><a href="family/{{ pfam.pfama_acc }}">{{ pfam.pfama_id }}</a></td>
                            <td><a href="family/{{ pfam.pfama_acc }}">{{ pfam.type }}</a></td>
                            <td><a href="family/{{ pfam.pfama_acc }}">{{ pfam.seed_source|truncatechars:20 }}</a></td>
                            <td><a href="family/{{ pfam.pfama_acc }}">{{ pfam.description }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        function ajaxPagination() {
            $('#pagination a.page-link').each((index,el) => {
                $(el).click((e) => {
                    e.preventDefault();
                    let page_url = $(el).attr('href');

                    $.ajax({
                        url: page_url,
                        type: 'GET',
                        success: (data) => {
                            $("#pfam_content").empty();
                            //console.log($(data).find("#pagination").html());
                            $("#pfam_content").append($(data).find("#pfam_content").html());
                            //$("#pagination").append($(data).filter('#pagination').html());
                        }
                    })
                })
            })
        }

        $(document).ready(function () {
            ajaxPagination();
        });
        $(document).ajaxStop(function () {
            ajaxPagination();
        });
    </script>
{% endblock %}